body{
background-color: rgb(0, 0, 0);
}

nav{
    display: flex;
    background-color: rgba(248, 248, 248, 0.993);
    opacity: 100%;
    
    

}

img.Logo{
    width: 300px;
    margin-right: 380px;
   
}
div.main{
    background-color: rgb(17, 17, 17);
    padding: 12px 0px 0px 0px;
    border-radius:3%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}
li.Nav{
    display: flex;
margin: 0px 13px 0px 0px;

padding-top: 16px;
}
li.form-li{
    display: flex;
margin: 0px 20px 0px 0px;
padding-top: 5px;

}
input.search-input{
    height: 22px;
    border: 1.5px;
    border-style: solid;
}

span.material-symbols-outlined {
color: black;


}
button{
    height: 40px;
    border-radius: 20%;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li.arts{
    color: white;
    display: flex;
font-size: 25px;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}

a.artss{
    color: white;
    font-size: 20px;
    margin-left: 890px;
    text-decoration: underline;
    color: lightgray;
}
a.artsz{
    color: white;
    font-size: 20px;
    margin-left: 870px;
    text-decoration: underline;
    color: lightgray;
    display: flex;
}
a.artsz2{
    color: white;
    font-size: 20px;
    margin-left: 840px;
    text-decoration: underline;
    color: lightgray;
    display: flex;
}
section.artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
 


}
a.albumesA{
    position: relative;
    text-align: center;
    color: white;
}
img.art{
    width: 350px;
    height: 330px;
    border-radius: 5%;
    opacity: 70%;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;
}
img.art:hover{
    transform: scale(0.97);
}
.centered {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: bold;
}
.centered1 {
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h3.down{
    color: rgb(129, 129, 129);
    font-size: 15px;
    margin-top: 0px;

}
span{
    color:white
}
footer{
    background-color: rgb(0, 0, 0);    display: flex;
    justify-content: center;
    border-radius: 5%;
    
}
ul.nombres{
    display: flex;
}

li.nom{
    color: white;
}
img.fott{
width: 500px;
}
section.albumesSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
 


}
section.cancionesSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
 


}
section.artistasSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
 


}
h2{
    color: white;
    margin-top: 0px;
    margin-left: 6px
}
section.conteiner{
    display: flex;
  justify-content: space-around;
  margin: 10px 80px 10px 80px;
  background-color: rgb(37, 37, 37);
  border-radius: 2%;
  padding: 15px 0px 15px 0px;
  
}
div.c{
   display: flex;
   flex-wrap: wrap;
   font-size: 13px;
   
}
a.cancionest{
    color: white;
    font-size: 11px;
 
}
ul.tracklistt{
    list-style:circle;
    color: white;
    flex-direction: column;
}
li.canciones{
    padding-bottom: 2px;

}
main.main-genres{
    background-color: rgb(27, 27, 27);
    margin: 10px 10px 10px 10px;
    border-radius: 2%;
}
h1.genre-h1{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 0px;
}
img.imagen-genres{
    display: flex;
    margin: 10px;

}
ul.genres-list{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}
h1.titulo-generos{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

